<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Times</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></head>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////AAC27wA7njsAjo6OAOvs7ADExMQA4ohLAB0eHgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiCIiIYiIiIiIIiIhiIiIiIgiIiGIgRGIiCIiIYgQCIiIIiIhiBAFiBERERGIEQCIdzMzMYhBYYh3MzMxiIiIiHczMzGIiIiIdzMzMYiIiIh3MzMxiIiIiIiIiIEiIid3iIiIgSIiJ3eIiIiBIiInd4iIiIEiIid3iIiIgSIiJ3cAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon">    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>    

<nav class="navbar navbar-custom">
    <div class="navbar-left">
        <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="navbar-center">
        <a class="navbar-brand" href="/podium">Podium</a>
        <a class="navbar-brand" href="/recent">Recent</a>
        <a class="navbar-brand" href="/today">Today</a>
        <a class="navbar-brand" href="/h2h">H2H</a>
    </div>
    <div class="navbar-right">
        <a class="btn btn-primary" href="https://www.nytimes.com/crosswords/apps?code=341f3f73-133e-440d-b6ca-ca5b08a0d7c4">Join</a>
    </div>
</nav>

<div class="container mb-4 text-center">
    <h1>Top 10 Times</h1>
    <ul class="list-group">
        {% for entry in data %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-12 mb-2 text-center">
                        {% if loop.index == 1 %}
                            🥇
                        {% else if loop.index == 2 %}
                            🥈
                        {% else if loop.index == 3 %}
                            🥉
                        {% endif %}
                        <strong>{{ entry.time|convert_time_to_mm_ss }}</strong>
                    </div>
                </div>
                <div class="row mb-2 text-center">
                    <div class="col-md-12">
                        <strong><a href="/user/{{ entry.username }}">{{ entry.username }}</a></strong>
                        <span class="dot-divider"> &middot; </span>
                        <a href="/history/{{ entry.date }}">{{ entry.date }}</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>